npm-debug.log
.DS_Store

*.js.map
app/**/*.js
!app/ios/**/*.js
e2e/**/*.js
e2e/reports/
lib/
node_modules/
platforms/
tmp/
typings/
report/
test-results.xml
#hooks/
!hooks/after-prepare/action-extension.js
