npm-debug.log
.DS_Store

*.js.map
app/**/*.js
!app/ios/**/*.js
!app/ts-helpers.js
e2e/**/*.js
e2e/reports/
lib/
node_modules/
platforms/
tmp/
typings/
report/
test-results.xml
hooks/
!hooks/**/bitwarden.js
!plugins/**/src/platforms/
plugins/**/publish/package
plugins/**/src/**/*.js
plugins/**/src/**/*.aar
plugins/**/src/**/*.jar
plugins/**/src/*.android.d.ts
plugins/**/src/*.ios.d.ts
plugins/**/demo/app/**/*.js
!plugins/**/demo/app/tests/tests.js
