<ActionBar title="My Vault" class="action-bar"></ActionBar>
<StackLayout class="page">
    <ListView [items]="items" [itemTemplateSelector]="templateSelector" class="list-group" (itemTap)="onItemTap($event)">
        <ng-template let-h="item" nsTemplateKey="header">
            <StackLayout class="list-group-header">
                <Label [text]="h.name"></Label>
            </StackLayout>
        </ng-template>
        <ng-template let-c="item" nsTemplateKey="cipher">
            <GridLayout class="list-group-item" rows="auto, *" columns="50, *">
                <Image row="0" col="0" src="https://placem.at/people?w=50&txt=0" class="thumb img-circle" rowSpan="2"></Image>
                <Label row="0" col="1" [text]="c.name" class="list-group-item-heading"></Label>
                <Label row="1" col="1" [text]="c.subTitle" class="list-group-item-text"></Label>
            </GridLayout>
        </ng-template>
        <ng-template let-t="item" nsTemplateKey="type">
            <StackLayout class="list-group-item" orientation="horizontal">
                <Label class="fa main-icon" [text]="t.icon"></Label>
                <Label [text]="t.name" class="list-group-item-heading"></Label>
            </StackLayout>
        </ng-template>
        <ng-template let-f="item" nsTemplateKey="folder">
            <StackLayout class="list-group-item" orientation="horizontal">
                <Label class="fa main-icon" text="" *ngIf="f.node.id"></Label>
                <Label class="fa main-icon" text="" *ngIf="!f.node.id"></Label>
                <Label [text]="f.node.name" class="list-group-item-heading"></Label>
            </StackLayout>
        </ng-template>
        <ng-template let-c="item" nsTemplateKey="collection">
            <StackLayout class="list-group-item" orientation="horizontal">
                <Label class="fa main-icon" text=""></Label>
                <Label [text]="c.node.name" class="list-group-item-heading"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>