$text-color: #000000;

$gray: #555;
$gray-light: #777;
$text-muted: $gray-light;
$border-color: #f0f0f0;
$border-color-dark: #ddd;

$brand-primary: #3c8dbc;
$brand-danger: #dd4b39;
$brand-success: #00a65a;
$brand-info: #555555;
$brand-warning: #bf7e16;
$brand-primary-accent: #286090;

$background-color: #efeff4;
$background-color-alt: #ecf0f5;

$foreground-color: #ffffff;

.page {
    background-color: $background-color;
}

.list-group {
    separator-color: $border-color-dark;
    background-color: $foreground-color;
}

.list-group-header {
    background-color: $background-color;
    padding: 20 10 7 10;
    color: $brand-primary;
    border-top-width: 1;
    border-color: $border-color-dark;
    border-bottom-width: 1;
    border-color: $border-color-dark;

    Label {
        text-transform: uppercase;
        color: $text-muted;
    }
}

.list-group-item {
    font-size: 16;
    margin: 0;
    padding: 10;
}

.list-group-item-condensed {
    font-size: 16;
    margin: 0;
    padding: 3 10;
}

.list-group-item-heading {
    color: $text-color;
    vertical-align: center;
    margin: 0;
}

.list-group-item-text {
    color: $text-muted;
    font-size: 14;
    vertical-align: center;
    margin: 0;
}

.icon-container {
    width: 30;
    margin-right: 10;
    text-align: center;
    vertical-align: center;
}

.main-icon {
    font-size: 25;
    margin-right: 10;
    text-align: center;
    vertical-align: center;
    width: 30;
}

.main-icon-image {
    width: 24;
    height: 24;
    text-align: center;
    vertical-align: center;
    border-radius: 4;
    margin: 0 13 0 3;
}

TabView {
    tab-background-color: white;
    selected-tab-text-color: $brand-primary;
    android-selected-tab-highlight-color: $brand-primary;
}

ActionBar.action-bar {
    background-color: $brand-primary;
    color: white;
}

.fa {
    font-family: 'FontAwesome';
}
