<GridLayout rows="*, auto">
    <StackLayout row="0">
        <router-outlet></router-outlet>
    </StackLayout>
    <StackLayout row="1" verticalAlignment="bottom">
        <BottomNavigation activeColor="blue" inactiveColor="black" backgroundColor="gray" keyLineColor="black"
            (tabSelected)="onTabSelected($event)" (tabPressed)="onTabPressed($event)" row="1">
            <BottomNavigationTab title="My Vault" icon="ic_heart"></BottomNavigationTab>
            <BottomNavigationTab title="Generator" icon="ic_heart"></BottomNavigationTab>
            <BottomNavigationTab title="Settings" icon="ic_heart"></BottomNavigationTab>
        </BottomNavigation>
    </StackLayout>
</GridLayout>